html {
   background: url(../recursos/1336.png);
}

body{
    margin: 0px;
    border: 0px;
    padding: 0px;
    outline: none;
    text-decoration: none;

    -webkit-perspective: 4500px;
    perspective: 1500px;
}

a{
    text-decoration: none;
}

.blanco{
    clear: both;
}

#cabecera a:visited{
    color: #FFF;
}

#cabecera{
    width: 1138px;
    height: 58px;
    border: 1px solid #666;
    color: #FFF;
    margin: auto;
    margin-top: 1px;
    padding: 10px 20px 10px 40px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    -webkit-box-shadow: 0px 2px 5px #666;
    -moz-box-shadow: 0px 2px 5px #666;
    -o-box-shadow: 0px 2px 5px #666;
    box-shadow: 0px 2px 5px #666;

    background: -moz-linear-gradient(top, rgba(0,0,0,0.40) 0%, rgba(0,0,0,0.80) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.40)), color-stop(100%,rgba(0,0,0,0.80))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.80) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.80) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.80) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.80) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

#logo{
    float: left;
    width: 150px;
    height: 60px;
    text-align: center;
    margin-top: 0px;
    margin-right: 20px;
}

#cajaMenuFotos{
    float: left;
    height: 55px;
    width: 80px;
    margin-top: 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    cursor: pointer;
}

#cajaMenuFotos:hover #menuFotos{
    display: block;
    opacity: 1;
    z-index: 6;
    height: 135px;
}

#cajaMenuFotos #textoMenuFotos{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    color: #CCC;
}

#cajaMenuFotos .flechaMenu{
    margin-top: 15px;
}

#contenedor_externo{
    width: 1200px;
    height: 100%;
    min-height: 500px;
    margin: auto;
    color: #FFF;

    -webkit-filter: blur(0px) grayscale(0);
    +filter: blur(0px) grayscale(0);

    -webkit-transition-property: -webkit-filter;
    -webkit-transition-duration: 1s;

    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

#footer{
    width: 1198px;
    height: 30px;
    margin: auto;
    margin-top: 15px;
    border: 1px solid #666;
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
    color: #CCC;
    padding-bottom: 10px;
    vertical-align: middle;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    -webkit-box-shadow: 0px 2px 5px #666;
    -moz-box-shadow: 0px 2px 5px #666;
    -o-box-shadow: 0px 2px 5px #666;
    box-shadow: 0px 2px 5px #666;

    background: -moz-linear-gradient(top, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.80) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.60)), color-stop(100%,rgba(0,0,0,0.80))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0.80) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0.80) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0.80) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0.80) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.labelFormularioTemp{
    height: 25px;
    text-align: right;
}

.comentario, .nuevoComentarioCreado{
    padding: 0px 10px 0px 0px;
    width: 730px;
    margin: 10px 0px 10px 0px;
    background-color: rgba(150, 150, 150, 0);
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
}

#contenedorComentarios{
    margin-top: 40px;
    padding: 10px 0px 0px 10px;
    overflow-y: auto;
    height: 100%;
    max-height: 600px;
    outline: none;

    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

#anadirComentario{
     width: 745px;
     height: 100px;
}

#enviarComentario{
    width: 90px;
    height: 25px;
    margin:5px 20px 0px 0px;
    font-size: 14px;
    float: right;
    opacity: 0;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#nuevoComentario, .inputDatosFoto{
     width: 680px;
     height: 70px;
     resize: none;
     padding: 3px;
     border-top: 1px solid #222;
     border-right: 1px solid #777;
     border-bottom: 1px solid #777;
     border-left: 1px solid #222;
     background-color: #555;
     color: #CCC;
     font-size: 12px;
     outline: none;

    -webkit-box-shadow: 1px 1px 1px #333;
    -moz-box-shadow: 1px 1px 1px #333;
    -o-box-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #333;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.inputDatosFoto{
    width: 300px;
    height: 15px;
}

.datoDatosFoto{
    margin-bottom: 7px;
}

.inputDatosFotoTextarea{
    height: 50px;
}

.inputDatosFotoSelect{
    width: 309px;
    height: 25px;
}

#mapaBorrarMarcador{
    float: right;
    margin: 7px 25px 0px 0px;
    font-size: 10px;
    width: 110px;
    height: 20px;
}

#fotoNueva{
    opacity: 0;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

#guardarFoto{
    float: left;
    margin: 30px 0px 0px 50px;
    width: 160px;
    height: 40px;
    display: none;
    opacity: 0;
}

#nuevoComentario:focus, .inputDatosFoto:focus{
    -webkit-box-shadow: 0px 0px 10px #CCC;
    -moz-box-shadow: 0px 0px 10px #CCC;
    -o-box-shadow: 0px 0px 10px #CCC;
    box-shadow: 0px 0px 10px #CCC;
}


#textoComentarioNuevo{
     width: 685px;
     height: 100px;
     padding-left: 10px;
     float: left;
     text-align: right;
}

.fotoUsuarioPequena{
    width: 48px;
    height: 50px;
    float: left;
    text-align: center;
    border: 1px solid #666;
    overflow: hidden;

    -webkit-box-shadow: 1px 1px 2px #333;
    -moz-box-shadow: 1px 1px 2px #333;
    -o-box-shadow: 1px 1px 2px #333;
    box-shadow: 1px 1px 2px #333;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.datosComentario{
     width: 660px;
     height: 100%;
     margin-left: 10px;
     padding: 0px 5px 5px 5px;
     float: left;
}

.datosCreacionComentario{
    width: 680px;
    border-bottom: 1px solid #666;
    margin-top: 5px;
}

.fechaComentario{
     color: #666;
}

.textoComentario{
    width: 680px;
    color: #CCC;
    word-wrap: break-word;
}

#mosaico{
    width: 100%;
    height: 100%;
}
.fotoMosaico{
    overflow: hidden;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #666;

    -webkit-box-shadow: 1px 1px 1px #333;
    -moz-box-shadow: 1px 1px 1px #333;
    -o-box-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #333;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.fotoMosaicoEstrecho{
    width: 285px;
    height: 290px;

}

.fotoMosaicoAncho{
    width: 590px;
    height: 290px;
}

.fotoMosaicoInterior{
    width: 100%;
    height: 255px;
}

.circuloEspera{
    display: cell;
    vertical-align: middle;
    position: relative;
    width: 32px;
    height: 32px;
}

#contenedor{
    height: 100%;
    overflow: hidden;
}

.contenedorDatosTotal{
    background-color: rgba(50, 50, 50, 0.8);
    margin-top: 15px;
    padding: 20px 20px 20px 0px;
    height: 100%;
    border-top: 1px solid #444;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
    border-left: 1px solid #444;
    height: 100%;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.contenedorDatosTotal h1{
    text-align: center;
    color: #000;
    background-color: rgba(255, 255, 255, 0.6);
    width: 600px;
    padding: 2px 100px 0px 50px;
    font-size: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    position: relative;
    left: -610px;
    opacity: 0;
    border-top: 1px solid #333;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    margin-bottom: 50px;

    -webkit-text-shadow: 1px 1px 1px #666;
    -moz-text-shadow: 1px 1px 1px #666;
    -o-text-shadow: 1px 1px 1px #666;
    text-shadow: 1px 1px 1px #666;

    -webkit-border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    -o-border-radius: 0px 15px 15px 0px;
    border-radius: 0px 15px 15px 0px;

    -webkit-box-shadow: inset 0px 2px 5px #333;
    -moz-box-shadow: inset 0px 2px 5px #333;
    -o-box-shadow: inset 0px 2px 5px #333;
    box-shadow: inset 0px 2px 5px #333;

    -webkit-transition: left 1s ease-out, opacity 3s;
    -moz-transition: left 1s ease-out, opacity 3s;
    -o-transition: left 1s ease-out, opacity 3s;
    transition: left 1s ease-out, opacity 3s;
}

.foto{
    margin: auto;
}

#descargaFoto{
    height: 30px;
    margin-top: 10px;
}

.descargaFotoBtn{
    width: 300px;
}

#descargarFotoBtn{
    width: 180px;
}

#permitirDescargaFotoBtn, #denegarDescargaFotoBtn{
    width: 240px;
}

#externoDatosFoto{
    float: right;
    margin: 10px 0px 0px 15px;
    width: 330px;
    color: #CCC;
    font-family: sans-serif;
    position: relative;
    left: 100px;
    opacity: 0;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    -webkit-transition: left 1s ease-out, opacity 2s;
    -moz-transition: left 1s ease-out, opacity 2s;
    -o-transition: left 1s ease-out, opacity 2s;
    transition: left 1s ease-out, opacity 2s;
}

.lugarFotoComentarios{
     margin: auto;
     float: left;
     width: 820px;
     height: 100%;
     padding-left: 10px;
}

.marcoFoto{
    margin: auto;
    padding:3px;
    text-align: center;

    -webkit-box-shadow: 0px 0px 15px #999;
    -moz-box-shadow: 0px 0px 15px #999;
    -o-box-shadow: 0px 0px 15px #999;
    box-shadow: 0px 0px 15px #999;
}

#marcoFotoNueva{
    height: 600px;
    text-align: center;
    
    -webkit-box-shadow: 0px 0px 0px #999;
    -moz-box-shadow: 0px 0px 0px #999;
    -o-box-shadow: 0px 0px 0px #999;
    box-shadow: 0px 0px 0px #999; 
}

#marcoFotoNuevaActivo{
    opacity: 1;

    -webkit-box-shadow: 0px 0px 15px #999;
    -moz-box-shadow: 0px 0px 15px #999;
    -o-box-shadow: 0px 0px 15px #999;
    box-shadow: 0px 0px 15px #999;
}

#guardarFotoActivo{
    display: block;
    opacity: 1;
    float: left;
    margin: 30px 0px 0px 50px;
    width: 160px;
    height: 40px;
    margin-top: 40px;
}

#mensajeErrorFotoNueva{
    color: #600;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 5px 3px 5px 3px;
    background-color: #666;
    border: 1px solid red;
    display: none;
    opacity: 0;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 0px 0px 30px #F00;
    -moz-box-shadow: 0px 0px 30px #F00;
    -o-box-shadow: 0px 0px 30px #F00;
    box-shadow: 0px 0px 30px #F00;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#mensajeConfirmacionUsuarioNuevo{
    color: #080;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 5px 3px 5px 3px;
    background-color: #CCC;
    border: 1px solid green;
    opacity: 0;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    -webkit-text-shadow: 1px 1px 1px #666;
    -moz-text-shadow: 1px 1px 1px #666;
    -o-text-shadow: 1px 1px 1px #666;
    text-shadow: 1px 1px 1px #666;

    -webkit-box-shadow: 0px 0px 30px #0F0;
    -moz-box-shadow: 0px 0px 30px #0F0;
    -o-box-shadow: 0px 0px 30px #0F0;
    box-shadow: 0px 0px 30px #0F0;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.centradoMarcoFotoNueva{
    text-align: center;
    position: relative;
    top: 200px;
}

#centradoMarcoFotoNuevaUsuario{
    top: 30px;
    left: 10px;
}

#centradoMarcoFotoActivaUsuario{
    top: 30px;
}

#cambiarFotoUsuarioBtn{
    left: 96px;
}

#crearFotoUsuarioBtn{
    left: 285px;
}

#crearFotoFotoBtn{
    left: 285px;
    top: 50px;
}

#barraProgreso{
    position: relative;
    left: 230px;
    width: 300px;
    height: 30px;
}

.seccionDatosFoto{
    margin-bottom: 5px;
    width: 310px;
    background-color: #111;
    padding: 10px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 0px 1px 3px #666;
    -moz-box-shadow: 0px 1px 3px #666;
    -o-box-shadow: 0px 1px 3px #666;
    box-shadow: 0px 1px 3px #666;
}

#fotoNombreUsuario{
    height: 53px; 
}

#numerosFoto{
    font-size: 14px;
    vertical-align: middle;
    height: 70px;
}

#ApartadoValoracion{
    float: left;
    width: 114px;
    text-align: center;
    font-size: 18px;
    border-right: 1px solid #333;
    padding-right: 10px;
}

#valoracionNumero{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #911;
    width: 100%;
    text-align: center;
    padding-top: 3px;

    -webkit-text-shadow: 1px 1px 2px #333;
    -moz-text-shadow: 1px 0px 1px #333;
    -o-text-shadow: 1px 0px 1px #333;
    text-shadow: 1px 1px 2px #333;
}

#likeFavoritoVisita{
    float: left;
    width: 165px;
    font-size: 16px;
    margin-left: 20px;
    text-align: left;
}

#likeFavoritoVisita div{
    float: left;
    margin: 5px 7px 0px 0px;
}

 .likeFavoritoVisitaNumero{
    color: #911;
    font-weight: bold;
    width: 40px;
    text-align: right;
 }

 #likeFavoritoBotones{
    height: 40px;
    padding-top: 10px;
 }

 .likeFavoritoBtn{
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-left: 10px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
 }

 .likeFavoritoBtnEnabled{
    color: #CCC;
    cursor: pointer;

    -webkit-text-shadow: 1px 1px 2px #333;
    -moz-text-shadow: 1px 0px 1px #333;
    -o-text-shadow: 1px 0px 1px #333;
    text-shadow: 1px 1px 2px #333;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
 }

 .likeBtnEnabled{
    width: 200px;

    background-color: #060;
    border-top: 2px solid #090;
    border-right: 2px solid #030;
    border-bottom: 2px solid #030;
    border-left: 2px solid #090;

    -webkit-text-shadow: -1px -1px #030, 1px 1px #090;
    -moz-text-shadow: -1px -1px #030, 1px 1px #090;
    -o-text-shadow: -1px -1px #030, 1px 1px #090;
    text-shadow: -1px -1px #030, 1px 1px #090;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
 }

 .likeBtnDisabled{
    width: 200px;
    color: #666;
    background-color: #030;

    border-top: 2px solid #010;
    border-right: 2px solid #040;
    border-bottom: 2px solid #040;
    border-left: 2px solid #010;
 }

 .favoritoBtnEnabled{
    width: 80px;
    background-color: #600;
    border-top: 2px solid #900;
    border-right: 2px solid #300;
    border-bottom: 2px solid #300;
    border-left: 2px solid #900;

    -webkit-text-shadow: -1px -1px #300, 1px 1px #900;
    -moz-text-shadow: -1px -1px #300, 1px 1px #900;
    -o-text-shadow: -1px -1px #300, 1px 1px #900;
    text-shadow: -1px -1px #300, 1px 1px #900;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
 }

 .favoritoBtnDisabled{
    width: 80px;
    color: #666;
    background-color: #300;

    border-top: 2px solid #100;
    border-right: 2px solid #400;
    border-bottom: 2px solid #400;
    border-left: 2px solid #100;
 }

 .likeFavoritoBtnEnabled:hover, .eliminarImagenBtn:hover{
    font-size: 22px;
    color: #FFF;

    -webkit-text-shadow: 5px 5px 7px #333;
    -moz-text-shadow: 5px 5px 7px #333;
    -o-text-shadow: 5px 5px 7px #333;
    text-shadow: 5px 5px 7px #333;
 }

 .eliminarImagenBtn{
    width: 290px;
    background-color: #600;
    border-top: 2px solid #900;
    border-right: 2px solid #300;
    border-bottom: 2px solid #300;
    border-left: 2px solid #900;
    float: none;
    color: #CCC;
    cursor: pointer;

    -webkit-text-shadow: 1px 1px 2px #333;
    -moz-text-shadow: 1px 1px 2px #333;
    -o-text-shadow: 1px 1px 2px #333;
    text-shadow: -1px -1px #300, 1px 1px #C00;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
 }

 #descripcionDatosFoto{
    width: 290px !important;
 }

 #descripcionDatosFotoExterno{
    font-size: 14px;
    color: #DDD;
    width: 310px;
    max-height: 150px;
    overflow-y: auto;
    text-align: justify;
    margin: 10px;
 }

 #seccionMapa{
    height: 200px;
 }

 .mapaDatosFoto{
    width: 310px;
    height: 200px;
    border: 1px solid #999;

    -webkit-box-shadow: 0px 1px 3px #666;
    -moz-box-shadow: inset 0px 1px 3px #666;
    -o-box-shadow: inset 0px 1px 3px #666;
    box-shadow: 0px 1px 3px #666;
 }

#tituloEtiquetasDatosFoto{
    float: left;
    width: 150px;
    height: 15px;
    font-family: sans-serif;
    font-size: 14px;
    padding-left: 3px;
    border-bottom: 1px solid #999;
    margin-bottom: 3px;
    background: url(../recursos/etiqueta.png) no-repeat;
}

.etiqueta{
    display: inline;
    cursor: pointer;
    color: #999;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px;

    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.etiqueta:hover{
    color: #DDD;
}

.textoOtrosDatos{
    font-size: 14px;
    font-family: sans-serif;
    float: left;
    margin-bottom: 3px;
}

.tituloOtrosDatos{
    width: 147px;
    color: #999;
    padding-left: 3px;
}

.datoOtrosDatos{
    color: #DDD;
    font-weight: bold;
    
}

.imagenTira{
     width: 50px;
     height: 50px;
     float: left;
     cursor: pointer;
     margin-right: 1px;
     overflow: hidden;
}

#tiraImagenesExterior{
    float: right;
    width: 100%;
    height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #333;
    outline: none;
}

#tiraImagenesInterior{
    height: 50px;
}

/* Datos al pie de cada foto en el mosaico */
.datosFoto{
    padding: 5px 5px 0px 5px;
    height: 20px;
    font-size: 12px;
    font-family: arial, sans-serif;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 2;
    opacity: 0.1;

    -webkit-text-shadow: 1px 0px 1px #CCC;
    -moz-text-shadow: 1px 0px 1px #CCC;
    -o-text-shadow: 1px 0px 1px #CCC;
    text-shadow: 1px 0px 1px #CCC;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 0px 1px 3px #666;
    -moz-box-shadow: 0px 1px 3px #666;
    -o-box-shadow: 0px 1px 3px #666;
    box-shadow: 0px 1px 3px #666;

    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.tituloFoto{
    font-size: 13px;
    font-weight: bold;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
}

.valoracionFoto{
    float: right;
    opacity: 0;
    padding-top: 1px;

    -webkit-transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

.fotoMosaico:hover .datosFoto, .fotoMosaico:hover .valoracionFoto{
    opacity: 1;
}

#menuSuperiorMosaico{
    margin-top: 10px;
    padding-left: 10px;
    width: 650px;
    height: 33px;
    border-bottom: 1px solid #999;
}

#botonesMosaico{
    float: left;
    height: 30px;
    width: 450px;
}


#mensajeCabecera{
    float: right;
    height: 15px;
    max-width: 500px;
    color: #999;
    font-size: 14px;
    font-family: sans-serif;
    position: relative;
    left: -20px;
    z-index: -1;
    border: 1px solid #999;
    padding: 5px 30px 5px 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    display: none;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

#mensajeCabecera span{
    color: #700;
    font-weight: bold;
}

.mosaicoBtn{
    width: 130px;
    height: 25px;
    float: left;
    font-size: 14px;
    color: #DDD;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #999;
    cursor: pointer;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 0px 0px 0px #FFF;
    -moz-box-shadow: 0px 0px 0px #FFF;
    -o-box-shadow: 0px 0px 0px #FFF;
    box-shadow: 0px 0px 0px #FFF;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#botonesMosaico #fechaSubida{
    background-color: rgba(100, 0, 0, 0.6);
}

.mosaicoBtn:hover{
    -webkit-box-shadow: 0px 0px 15px #FFF;
    -moz-box-shadow: 0px 0px 15px #FFF;
    -o-box-shadow: 0px 0px 15px #FFF;
    box-shadow: 0px 0px 15px #FFF;
}

#contenedorPaginacion{
    float: right;
    width: 650px;
    margin: 20px 0px -10px 0px;
    border-top: 1px solid #999;
}

#tituloPaginacion{
    float:right;
    margin: 15px 5px 0px 0px;
    color: #CCC;
    font-family: sans-serif;
    font-size: 15px;
}

#paginas{
    width: 100px;
    height: 40px;
    float: right;
    margin: 10px 50px 0px 0px;
    text-align: left;
    color: #CCC;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    word-wrap: normal;
    outline: none;
}

#paginasInterior{
    height: 20px;
    padding-top: 5px;
    white-space: nowrap;
    word-wrap: normal;
}

.numeroPagina{
    width: 15px;
    height: 18px;
    float: left;
    cursor: pointer;
    border: 1px solid #999;
    margin-left: 5px;
    text-align: center;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 0px 0px 0px #FFF;
    -moz-box-shadow: 0px 0px 0px #FFF;
    -o-box-shadow: 0px 0px 0px #FFF;
    box-shadow: 0px 0px 0px #FFF;

    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.numeroPagina:hover{
    -webkit-box-shadow: 0px 0px 15px #FFF;
    -moz-box-shadow: 0px 0px 15px #FFF;
    -o-box-shadow: 0px 0px 15px #FFF;
    box-shadow: 0px 0px 15px #FFF;
}

#cajaRegistroLogin{
    width: 240px;
    height: 32px;
    margin-top: 15px;
    float: right;
    margin-right: 50px;
}

#cajaLogeado{
    float: right;
    width: 302px;
    height: 54px;
    padding: 5px 7px 0px 7px;
    cursor: pointer;

    background: -webkit-linear-gradient(top, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.60) 100%);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.60) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.60) 100%);
    background: linear-gradient(to bottom, rgba(60,60,60,0.40) 0%,rgba(20,20,20,0.60) 100%);

    -webkit-box-shadow: inset 1px 1px 2px #666;
    -moz-box-shadow: inset 1px 1px 2px #666;
    -o-box-shadow: inset 1px 1px 2px #666;
    box-shadow: inset 1px 1px 2px #666;
}

#fotoLogeado{
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

#nombreUsuarioLogeado{
    float: left;
    margin-left: 15px;
    padding-top: 15px;
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
    color: #CCC;
}

.flechaMenu{
    content: none;
    float: left;
    border-color: #CCC transparent transparent transparent;
    border-style: solid;
    border-width: 8px;
    width: 0px;
    height: 8px;
    margin-left: 10px;
    margin-top: 25px;
}

.registroLoginBtn{
    float: left;
    margin-left: 20px;
    font-size: 16px;
    width: 100px;
    height: 30px;
    border: 1px solid #333;
    background-color: rgba(0,0,0,0);
    color: #FFF;
    font-family: Arial, sans-serif;
    cursor: pointer;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 0px 0px 0px #FFF;
    -moz-box-shadow: 0px 0px 0px #FFF;
    -o-box-shadow: 0px 0px 0px #FFF;
    box-shadow: 0px 0px 0px #FFF;

    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.registroLoginBtn:hover{
    -webkit-box-shadow: 0px 0px 20px #FFF;
    -moz-box-shadow: 0px 0px 20px #FFF;
    -o-box-shadow: 0px 0px 20px #FFF;
    box-shadow: 0px 0px 20px #FFF;
}

.cajaModal{
    width: 400px;
    height: 200px;
    border: 3px solid #BBB;
    background-color: rgba(100, 100, 100, 0.8);
    position: relative;
    top: -300px;
    left: 40px;
    z-index: -3;
    display: none;
    opacity: 0;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#idCajaModal{
    left: 448px;
}

.tituloCajaModal{
    width: 380px;
    height: 22px;
    background-color: #BBB;
    color: #200;
    text-align: left;
    padding: 5px 0px 0px 20px;
    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;

    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 0px 0px 8px 8px;
    -o-border-radius: 0px 0px 8px 8px;
    border-radius: 4px 4px 0px 0px;

    -webkit-text-shadow: 1px 1px 1px #666;
    -moz-text-shadow: 1px 1px 1px #666;
    -o-text-shadow: 1px 1px 1px #666;
    text-shadow: 1px 1px 1px #666;
}

#idTituloCajaModal{
    color: #600;
}

.cuerpoCajaModal{
    height: 144px;

    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -o-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;

    -webkit-box-shadow: inset 2px 2px 3px #333;
    -moz-box-shadow: 2px 2px 3px #333;
    -o-box-shadow: 2px 2px 3px #333;
    box-shadow: inset 2px 2px 3px #333;
}

#botonesCajaModal{
    margin-top: 10px;
}

#idCuerpoCajaModal{
    height: 175px;
}

#textoCajaModal{
    width: 100%;
    height: 60px;
    padding-top: 60px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    color: #FFF;

    -webkit-text-shadow: 1px 1px 3px #333;
    -moz-text-shadow: 1px 1px 3px #333;
    -o-text-shadow: 1px 1px 3px #333;
    text-shadow: 1px 1px 3px #333;
}

#datosLogin{
    padding: 30px 20px 0px 20px;
}

.camposLogin{
    width: 270px;
    height: 20px;
    border: 2px solid #666;
    padding-left: 5px;
    font-size: 14px;
    outline: none;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    -webkit-box-shadow: 0px 2px 3px #666;
    -moz-box-shadow: 0px 2px 3px #666;
    -o-box-shadow: 0px 2px 3px #666;
    box-shadow: 0px 2px 3px #666;

    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.camposLogin:focus{
    -webkit-box-shadow: 0px 0px 20px #FFF;
    -moz-box-shadow: 0px 0px 20px #FFF;
    -o-box-shadow: 0px 0px 20px #FFF;
    box-shadow: 0px 0px 20px #FFF;
}

.botonCajaModal{
    float:right;
    width: 70px;
    height: 30px;
    border: 1px solid #333;
    color: #FFF;
    background-color: rgba(0,0,0,0.2);
    margin-right: 15px;
    cursor: pointer;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 2px 2px 3px #333;
    -moz-box-shadow: 0px 0px 0px #FFF;
    -o-box-shadow: 0px 0px 0px #FFF;
    box-shadow: 2px 2px 3px #333;

    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.botonCajaModal:hover{
    border-color: #666;

    -webkit-box-shadow: 0px 0px 20px #FFF;
    -moz-box-shadow: 0px 0px 20px #FFF;
    -o-box-shadow: 0px 0px 20px #FFF;
    box-shadow: 0px 0px 20px #FFF;
}

.rotacion{
    -webkit-animation-name: girando;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-style: preserve-3d;
    -webkit-animation-timing-function: ease-in-out;

    animation-name: girando;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    transform-style: preserve-3d;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes girando{
    0%{-webkit-transform: rotateY(0deg);}
    100%{-webkit-transform: rotateY(-360deg);}
}

@keyframes girando{
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(-360deg);}
}

.fondoModalOff{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 0%;
    background-color: #000;
    opacity: 0;
    z-index: -2;
}

.fondoModalOn{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 5;
}

.nombreUsuarioDatosFoto, .nombreUsuarioComentario{
    float:left;
    font-size: 23px;
    font-family: sans-serif;
    margin-left: 20px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
    height: 50px;

    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.nombreUsuarioDatosFoto{
    padding-top: 13px;
}

.nombreUsuarioComentario, .noUsuarioComentario{
    float: none;
    font-size: 14px;
    font-weight: normal;
    margin: 0px 10px 0px 0px;
    height: auto;
}

.noUsuarioComentario{
    font-family: sans-serif;
    color: #999;
}

.nombreUsuarioDatosFoto:hover, .nombreUsuarioComentario:hover{
    color: #DDD;
}

.menuCabecera{
    margin: 0px;
    padding: 0px;
    width: 230px;
    height: 0;
    float: left;
    position: relative;
    top: 15px;
    border: 0;
    opacity: 1;
    overflow: hidden;
    background-color: rgba(0,0,0,0.2);
    z-index: 2;

    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;

    -webkit-box-shadow: 2px 2px 5px #666;
    -moz-box-shadow: 2px 2px 5px #666;
    -o-box-shadow: 2px 2px 5px #666;
    box-shadow: 2px 2px 5px #666;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#menuFotos{
    left: 10px;
    top: 20px;
    width: 180px;
}

.menuCabeceraUltimoItem{
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

.itemMenuUsuario{
    background-color: rgba(10,10,10,0.8);
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 1px;
}

.itemMenuUsuarioNoEnlace{
    cursor: pointer;
    display: block;
    padding: 13px 0 13px 28px;
    border-bottom: none;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#menuFotos li{
    width: 152px;
    text-align: left;
    font-size: 14px;
    height: 18px;
}

.itemMenuUsuario a{
    display: block;
    padding: 13px 0 13px 20px;
    padding-left: 28px;
    color: #FFF !important;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#cajaLogeado:hover #menuUsuario{
    display: block;
    opacity: 1;
    z-index: 6;
    height: 135px;
}

.itemMenuUsuario:hover a{
    padding-left: 40px;
    background-color: rgba(10,10,10,0.9);
}

.itemMenuUsuarioNoEnlace:hover{
    padding-left: 40px; 
    background-color: rgba(10,10,10,0.9);
}

#menuUsuarioLogout:hover{
    color: #C00;
}

/* ------------------------------------------------------------------------------------------------- */
#ContenedorDatosTotalUsuario{
    height: 800px;
}

.etiquetasDatos{
    float: left;
    width: 18%;
}

.datosDatos{
    float: left;
    width: 60%;
    text-align: left;
}

#fotoDatosUsuario{
    float: left;
    padding-top: 30px;
    text-align: center;
    width: 430px;
    height: 500px;
    margin: 20px;
    background-color: #111;
    opacity: 0;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 0px 1px 3px #666;
    -moz-box-shadow: 0px 1px 3px #666;
    -o-box-shadow: 0px 1px 3px #666;
    box-shadow: 0px 1px 3px #666;

    -webkit-transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -ms-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

#fotoDatosUsuario #divFotoUsuario{
     margin: auto;
     border: 1px solid black;
     padding:3px; 
     width: 100px;
     height: 150px;
}

#datosDatosUsuario{
    float: left;
    padding: 30px 20px 0px 30px;
    text-align:left;
    width: 635px;
    height: 500px;
    margin: 20px 0px 20px 20px;
    background-color: #111;
    opacity: 0;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 0px 1px 3px #666;
    -moz-box-shadow: 0px 1px 3px #666;
    -o-box-shadow: 0px 1px 3px #666;
    box-shadow: 0px 1px 3px #666;

    -webkit-transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -ms-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

.etiquetaDato{
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 20px;
    width: 230px;
    color: #999;
    border-bottom: 1px solid #666;

    -webkit-text-shadow: 1px 1px 3px #333;
    -moz-text-shadow: 1px 1px 3px #333;
    -o-text-shadow: 1px 1px 3px #333;
    text-shadow: 1px 1px 3px #333;
}

#permitirDescargaCB{
    font-size: 13px;
    font-family: sans-serif;
    background-color: #555;
    color: #AAA;
    width: 307px;
    height: 20px;
    padding-top: 3px;
    border-top: 1px solid #333;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
    border-left: 1px solid #333;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.datoDato{
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 5px;
    padding-left: 10px;
    height: 15px;
    width: 660px;
    color: #222;

    -webkit-text-shadow: 1px 1px 3px #333;
    -moz-text-shadow: 1px 1px 3px #333;
    -o-text-shadow: 1px 1px 3px #333;
    text-shadow: 1px 1px 3px #333;
}

.datoDatoContrasena{
    position: relative;
    left: -130px;
    top: -5px;
    margin-top: 25px;
}

.inputDatoDato{
    font-family: sans-serif;
    font-size: 18px;
    padding-left: 10px;
    width: 550px;
    color: #FFF;
    background-color: #111;
    border: none;

    -webkit-text-shadow: 1px 1px 2px #333;
    -moz-text-shadow: 1px 1px 2px #333;
    -o-text-shadow: 1px 1px 2px #333;
    text-shadow: 1px 1px 2px #333;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.inputDatoDatoContrasena{
    width: 360px;
    padding-left: 20px;
    background-color: rgba(50, 50, 50, 0.7);
    border-top: 1px solid #333;
    border-bottom: 1px solid #444;
    border-right: 1px solid #444;
    border-left: 1px solid #333;
    outline: none;

    -webkit-box-shadow: inset 1px 1px 3px #333;
    -moz-box-shadow: inset 1px 1px 3px #333;
    -o-box-shadow: inset 1px 1px 3px #333;
    box-shadow: inset 1px 1px 3px #333;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.datoDato textarea{
    resize: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder,
input::-moz-input-placeholder, textarea::-moz-textarea-placeholder,
input::-o-input-placeholder, textarea::-o-textarea-placeholder{
    color: #999 !important;

    -webkit-text-shadow: 0px 0px 0px #333;
    -moz-text-shadow: 1px 1px 2px #333;
    -o-text-shadow: 1px 1px 2px #333;
    text-shadow: 0px 0px 0px #333;
}

.inputDatoDato:focus{
    padding-left: 20px;
    background-color: rgba(50, 50, 50, 0.7);
    border-top: 1px solid #333;
    border-bottom: 1px solid #444;
    border-right: 1px solid #444;
    border-left: 1px solid #333;
    outline: none;

    -webkit-box-shadow: inset 1px 1px 3px #333;
    -moz-box-shadow: inset 1px 1px 3px #333;
    -o-box-shadow: inset 1px 1px 3px #333;
    box-shadow: inset 1px 1px 3px #333;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

#datosUsuarioSegundoEmail{
    width: 600px;
    height: 0px;
    overflow: hidden;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* --------------------------- Custom input file -------------------------------------------------- */
.customInputFile {
    overflow: hidden;
    position: relative;
    padding: 8px;
    background-color: #555;
    color: #CCC;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    width: 200px;
    float: none;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.customInputFile:hover {
    background-color: #000;
    color: #fff;
}

.customInputFile .inputFile {
    margin: 0;
    padding: 0;outline:0;
    font-size: 10000px;
    border: 10000px solid red;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: -1000px;
    top: -1000px;
    cursor: pointer;
}

.customInputFile .archivo {
    background-color: #000;
    color: #fff;
    font-size: 12px;
    overflow: hidden;
}

.customInputFile:hover .archivo {
    background-color: #666;
    color: #000;   
}

#cambiarContrasenaBtn{
    height: 40px;
    width: 230px;
    font-size: 18px;
    float: none;
    position: relative;
    left: -5px;
    top: 100px;
}

#modificarUsuarioBtn{
    float: right;
    height: 40px;
    width: 130px;
    margin: 10px 50px 0px 0px;
    display: none;
    opacity: 0;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#eliminarUsuarioBtn{
    width: 400px;
    height: 40px;
    margin: 10px 0px 0px 35px;
    opacity: 0;

    -webkit-transition: all 0.3s, opacity 2s;
    -moz-transition: all 0.3s, opacity 2s;
    -ms-transition: all 0.3s, opacity 2s;
    -o-transition: all 0.3s, opacity 2s;
    transition: all 0.3s, opacity 2s;
}

.separador{
    width: 90%;
    position: relative;
    top: 30px;
    left: 18px;
    margin-top: 25px;
    border-bottom: 1px solid #333;
}

#inputsCambiarContrasena{
    width: 100%;
    position: relative;
    top: 25px;
    height: 100px;
    text-align: center;
    z-index: -3;
    opacity: 0;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#contenedorComentarios_mcontentwrapper{
    height: 100%;
}




